
* {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box;
	 box-sizing:border-box;
        padding : 0;
        margin : 0;
	outline :0;
        border:0;
	font-family :georgia, times, sans-serif ;
}

body {
	color:#000000;
	background :#ffffff;
    overflow-x: hidden;
}

body *{
        outline: 0;
}

ul > li{
        list-style: none;
}

.center{
	-webkit-display :flex;
	-moz-display :flex;
	-o-display :flex;
	display :flex;
	justify-content :center;
	align-items :center;
}

.cap {
	background :rgb(0,0,0,0.95);
	background :rgba(0,0,0,0.95);
	z-index :2;
}

.transition {
        transition :all 2s ease  ;
}

.zoom-bg {
        transition :background-size transform 2s ease  ;
}

.zoom-bg:hover{
        background-size :120% 120%;
        transition : background-size 2s ease;
}

.zoom-fit{
        transition:transform 2s ease;
}

.zoom-fit:hover{
        transform :scale(1.25 , 1.25);
        transition :transform 2s ease;
}

.mh{
        -webkit-min-height :200px; 
        -moz-min-height :200px; 
        -o-min-height :200px; 
        min-height :200px; 
}

.mh-md{
        -webkit-min-height :350px; 
        -moz-min-height :350px; 
        -o-min-height :350px; 
        min-height :350px; 
}

.mh-lg {
        -webkit-min-height :500px; 
        -moz-min-height :500px; 
        -o-min-height :500px; 
        min-height :500px; 
}

ul.navbar-nav > li.nav-item > a.nav-link:hover {
        /* color:#fff;
        background :#000; */
}

button.close{
        outline:0;
}

/*-----------------------------------------------------*/

#downloadApp{
        background: url('../img/istockphoto-615833974-612x612.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
}

.imgPost{
        -webkit-max-height: 75vh;
        -moz-max-height: 75vh;
        -o-max-height: 75vh;
        max-height: 75vh;
}


body section.container-fluid div.row div.col-12 nav.navbar div#uno ul.navbar-nav li.nav-item a.nav-link:hover{
        color:#17a2b8;
}
/* 
html body div#form-suscribe div.modal-dialog div.modal-content{
        background-image: url('../img/foto_modal.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
} */

html body section.container-fluid div.row div.col-12 div#demo{
        height:80vh;
}

html body section.container-fluid div.row div.col-12 div#demo div.carousel-inner{
        height:80vh;
        position:relative;
}

html  body section.container-fluid div.row div.col-12 div#demo div.carousel-inner div.carousel-item {
        width:100vw; 
        height:80vh;
}

html  body section.container-fluid div.row div.col-12 div#demo div.carousel-inner div.carousel-item div.carousel-caption{
        height:80vh;
}

html body section.container-fluid div.row div.col-12 div#demo div.carousel-inner div.carousel-item div.carousel-caption h3{
        font-size:500%; 
        font-family:'lovely_girl'; 
        text-shadow: 0 0 20px rgba(0,0,0,0.8);
}
 
html body section.container-fluid div.row div.col-12 div#demo div.carousel-inner div.carousel-item div.carousel-caption p{
        font-size:120%; 
        text-shadow: 0 0 20px rgba(0,0,0,0.8);
}

/* ====================== RESPONSIVE  ======================== */

@media (min-width :576px){        /*sm*/

}

@media (min-width :768px){        /*md*/
        .navbar-collapse{                
                -webkit-display: flex;
                -moz-display:flex;
                -o-display:flex;
                display: flex;
                justify-content:flex-end ;
        }        
}

@media (min-width :991px){        /*lg*/

}

@media (min-width :1200px){        /*xl*/

}


/*-----------------------------------------------------*/






